@media (max-width: 1220px) {
    header .container {
        background-image: linear-gradient(black, rgba(0,0,0,.9), rgba(0,0,0,0));
    }
    header .container:hover {
        background-color: unset;
    }
    .main-anime .container {
        width: 60vw;
    }
}

@media (max-width: 998px) {
    .main-anime .title {
        font-size: 36px;
    }
    .main-anime .description {
        font-size: 15px;
        line-height: 1.6;
    }
    .main-anime .btn {
        padding: 12px 24px;
    }
    .animes-carousel h4 {
        font-size: 17px;
    }
}

@media (max-width: 754px) {
    header .logo {
        font-size: 36px;
    }
    header nav a {
        font-size: 15px;
    }
    .main-anime .title {
        font-size: 32px;
    }
    .main-anime .description {
        font-size: 14px;
        line-height: 1.4;
    }
}

@media (max-width: 630px) {
    header .logo {
        font-size: 32px;
    }
    .main-anime .btn {
        padding: 10px 20px;
    }
    .main-anime .container {
        width: 70vw;
    }
}

/* Menu Mobile */
@media (max-width: 548px) {
    header .container {
        justify-content: space-between;
    }
    header nav {
        text-align: right;
    }
    header nav li {
        display: block;
    }
    header nav a {
        font-size: 14px;
    }
    #open-menu, #close-menu {
        display: block;
    }
    header nav .fas {
        font-size: 24px;
        color: #aaa;
        cursor: pointer;
    }
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 1px solid #757575;
        background-color: var(--preto);

        transform: translateX(100%);
        transition: transform 200ms ease-in;
    }
    .opened {
        transform: translateX(0);
    }
    header nav .menu #close-menu {
        padding-top: 10px;
        padding-right: 3vw;
    }
    header nav .menu .menu-item {
        padding: 5vw 3vw;
        border-bottom: 1px solid #757575;
    }
    header nav .menu .menu-item .menu-item-action {
        color: #aaa;
        text-decoration: none;
    }
    header nav .menu .menu-item .menu-item-action:hover {
        color: #fff;
    }
    .main-anime .container {
        width: 80vw;
    }
    .main-anime .btn {
        background-color: #fff;
        color: #000;
    }
}

@media (max-width: 425px) {
    header .logo {
        font-size: 28px;
    }
    .main-anime .container {
        width: 90vw;
    }
}

@media (max-width: 380px) {
    .main-anime .container {
        width: 100vw;
    }
}